
body {
    background-color: #8fe7c3;
}

.main { 
    color: #3B343C;
    background-color: #B1DAC9;
    border: 2px solid #000000;
}

.plot-cast { 
    border: 2px solid #000000;
    background-color: #73CAA6;
 }



