
body {
    background-color: #DFE9F2;
}

.main { 
    color: #3B343C;
    background-color: #F2F5F8;
    border: 2px solid #2763A5;
}

.plot-cast { 
    border: 2px solid #2763A5;
    background-color: #D0E4F7;
 }



